*
{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100%;
}

#main
{
    background-color: #000;
}

a
{
    color: white;
}

.home
{
    width: 100%;
    height: 100vh;
    color: white;
}

.home .nav
{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home .nav .logo 
{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

#heading
{
    margin-top: 90px;
    padding: 0 40px;
}

#heading h1
{
    font-size: 10vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0.6;
}

.left-side
{
    margin-left: 230px;
}

.block-text
{
    width: fit-content;
}

.block-text h5
{
    text-align: right;
    font-size: 1vw;
    opacity: 0.8;
}

.bottom-left-heading
{
    margin-top: 180px;
    text-align: right;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bottom-left-heading h5
{
    font-size: 1vw;
    opacity: 0.8;
    word-spacing: 3px;
}

.hero-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 22px;
}

.hero-bottom a 
{
    text-decoration: none;
}

.hero-bottom .scroll-icon
{
    display: flex;
    gap: 10px;
}

.hero-bottom .scroll-icon .circle
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #888;
    color: black;
}





